services:
    _defaults:
        public: true

    # If you need to access services in a test, create an alias
    # and then fetch that alias from the container. As a convention,
    # aliases are prefixed with test. For example:
    #
    # test.App\Service\MyService: '@App\Service\MyService'

    # All the services below are using only by fixtures loader (see Codeception helpers).
    test.doctrine.fixtures.loader: '@doctrine.fixtures.loader'
    test.doctrine.orm.fixtures_entity_manager: '@doctrine.orm.fixtures_entity_manager'
    test.app.component.jwt.jwt_token_manager: '@App\Component\Jwt\JwtTokenManager'
